<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>상세페이지</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

	<div class="detail_con">
		<section>
			<table>
				<tbody>
					<tr>
						<th scope="row">글 유형</th>
						<td th:text="${detail.notice_yn == false ? '일반' : '공지'}"></td>

						<th scope="row">등록일</th>
						<td th:text="${#temporals.format(detail.created_date, 'yyyy-MM-dd HH:mm' ) }"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td th:text="${detail.title}"></td>

						<th scope="row">조회수</th>
						<td th:text="${detail.view_cnt}"></td>
					</tr>
					<tr>
						<th scope="row">이름</th>
						<td th:text="${detail.writer}"></td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td th:text="${detail.content}"></td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" value="${detail.member_sid}" name="member_sid">
			<div class="update_btn_box" th:if = "${session.member_sid == detail.member_sid}">
				<a th:href="|/board/update/${detail.board_sid}|" class="update_btn">수정</a>
				<button  type="button" onclick="deleteBoard();" class="delete_btn">삭제</button>
				</div>
			
			<a th:href="@{/board}" class="back_btn2">뒤로</a>
		</section>
	</div>
	
	 	<div class="comment">
				<fieldset>
					<legend class="c_info">댓글 입력</legend>
					<div class="c_input">
						<p><textarea id = "content" name = "content" ></textarea></p>
						<span><button type="button" class="btn" onclick="saveComment();">등록</button></span>
					</div>
				</fieldset>
		 </div>
	 	<div class = "comment_list">
			 
		 </div>
	 	
			 



<script th:inline = "javascript">
	$(function (){
		commentList();
		
				$(document).on("click",".m_btn", function(){
					const m_id = $("#m_content");
					if(m_id != null){
						m_id.remove();
						
					}
				const area = $(this).val();
				const text = $(".c_text_"+ area).text();
					let html = ""
			html +=`
			
			<textarea id = "m_content" class ="m_text_${m_id}"> ${text}</textarea>
			<button type ="button" class ="modify_btn" value = ${text}>수정완료</button>
			
			`;
			$("#"+area).append(html);
			
			
		
		}); 
			$(document).on('click', '.modify_btn', function(){
				const m_id = $(this).val();
				const m_content = $(".m_text_" + m_id).val();
				console.log(m_content);
			$.ajax({
				type: 'PUT',
				url: '/board/comment/update',
				data: {
					params : m_id,
					m_content	: m_content
				},
				success: function () {
					
						alert("댓글 수정 완료!")
					    location.reload();
				}, 
				error: function (request, status, error) {
				}
			})
				
			});
				$(document).on( "click",".d_btn", function(){
					let d_id = $(this).val();
					console.log("체크");
						$.ajax({
				type: 'delete',
				url: '/board/comment',
				data: {
					c_sid : d_id
				},
				async : false,
				success: function () {
					
					    location.reload();
				}, error: function () {
					alert("삭제 실패 ㅋ!");
				}
			});
					
				});

		
		});
		function deleteBoard() {
			const id = /*[[${detail.board_sid} ]]*/"";

			if (!confirm(id + '번 게시글을 삭제할까요?')) {
				return false;
			}
			$.ajax({
				type: 'delete',
				url: '/board/delete',
				data: {
					id:id
				},
				async : false,
				success: function () {
					
					    location.href="/board";
				}, error: function (request, status, error) {
				}
			})

		}

	function saveComment(){
		const memberSid = /*[[${session.member_sid}]]*/"";
		if(memberSid == null){
			alert('로그인 쳐하세요');	
			location.href = "/member/login";	
		}
		
			
			const content = document.getElementById('content');
			
			const boardId =/*[[${detail.board_sid} ]]*/"";
			const params = {
				board_sid : boardId,
				content : content.value,
			}
			
		$.ajax({
				type: 'post',
				url: '/board/comment',
				data: params,
				async : false,
				success: function () {
					
					    alert('댓글 성공ㅋ');
					    commentList();
				}, error: function (request, status, error) {
				}
			})
		}
	
		function commentList(){
			const board_sid = /*[[${detail.board_sid} ]]*/"";
				$.ajax({
				type: 'get',
				url: '/board/comment/list/'+ board_sid,
				async : false,
				success: function (board) {
					let html = "";
					
						$(board).each(function(index, list){
							html +=`
							 <div class = "c_content" id = "${list.comment_sid}">
								 <div class = "comment_top">
								 	<span class = "c_writer">작성자 : ${list.writer}</span>
								 	<span class = "c_date">작성날짜 : ${list.created_date}</span>
							 	</div>
							 	<div class ="commemt_center">
									 <span class = "c_text_${list.comment_sid}" >${list.content}</span>
								 </div>
								 <div class = "m_input">
									 
									 </div>
								 <div class ="btns_box">
										<button type = "button" class ="m_btn" value = "${list.comment_sid}">수정하기</button>  
										<button type = "button" class = "d_btn" value = "${list.comment_sid}">삭제</button>
								 </div>
								 
									 
							</div>
						`;
						 
					})
					$(".comment_list").html(html);
					    
				}, error: function (request, status, error) {
				}
			})
		}


		
			


	</script>
</body>

</html>