<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.CommentMapper">

<!-- 댓글 저장 -->
 <insert id = "save" parameterType="CommentReq" useGeneratedKeys="true" keyColumn="comment_sid" keyProperty="comment_sid">
 	INSERT INTO tb_comment(
 	board_sid,
 	content,
 	member_sid,
 	delete_yn,
 	created_date,
 	modified_date
 	) VALUES (
 	#{board_sid},
 	#{content},
 	#{member_sid},
 	'N',
 	NOW(),
 	NOW()
 	)
</insert>

<!-- 대댓글 저장 -->
 <insert id = "replySave" parameterType="CommentReq" >
 	INSERT INTO tb_reply(
 	first_sid,
 	sec_sid,
 	reply_sid
 	) VALUES (
 	#{first_sid},
 	#{sec_sid},
 	#{reply_sid}
 	)
</insert>

<!-- 댓글 목록-->
<select id="findAll" resultType="CommentRes">
SELECT  		TC.*,
	TM.nick_name 			AS	writer,
	TR.*
	FROM tb_comment		AS 	TC
	LEFT OUTER JOIN	tb_member	AS	TM	ON	TC.member_sid = TM.member_sid 
	LEFT OUTER join tb_reply	AS	TR 	ON	TC.comment_sid = TR.first_sid or TC.comment_sid =TR.reply_sid 
	WHERE
		TC.delete_yn = 'N'
		AND TC.board_sid = #{board_sid}
		and (TR.first_sid = TC.comment_sid or TR.reply_sid is NULL)
		group by TC.comment_sid 
	ORDER	BY
		TC.comment_sid DESC;
</select>
<!-- 대댓글 더보기 -->
<select id ="more">
</select>


<!-- 댓글 상세 조회 -->
<select id="findById" parameterType="Long" resultType="CommentRes">
	SELECT  		TC.*,
	TM.nick_name  							AS	writer
	FROM tb_comment						AS 	TC
	LEFT OUTER JOIN	tb_member	AS	TM
	ON	TC.member_sid = TM.member_sid	
	WHERE
	TC.comment_sid = #{value}
</select>

<!-- 댓글 수정 -->
<update id="update" parameterType="CommentReq">
	UPDATE tb_comment
	SET 
		modified_date = NOW(),
		content = #{content}
	WHERE
		comment_sid = #{comment_sid}	
</update>

<!-- 댓글 삭제-->
<delete id="deleteById" parameterType="Long">
	UPDATE tb_comment
	SET
		delete_yn = 'Y'
	WHERE
		comment_sid = #{comment_sid}	
</delete>

</mapper>